
   
body {
    text-align:center;
    font-family:Quicksand;
    color: #333;
    font-size:16px;
    margin:0;
    padding:0;
}
#container {
    width:70%;
    padding:1em;
    text-align: left;
    border: 1px solid #33A;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;

}
#cabecera {

    background: #33A;
    color: white;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
    font-weight: bold;
    margin:0;
    padding:0.5em;
}
#cabecera #tagline {
    padding:  0 0 0 1em ;
    font-weight: normal;
    font-size: 0.8em;
}