
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }  
  html {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-text-size-ajust: 100%;
    -moz-text-size-ajust: 100%;
    -webkit-text-size-ajust: 100%;
    overflow: auto;
    height: 100%;
  }
  @-ms-viewport {
    width: device-width;
  }
body {
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;
   /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1663bb, #09203a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1663bb,
      #09203a
    ); /* W3C, IE 10+/ 
    Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Quicksand", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}
#container {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0 1rem 1rem 1rem;
}

#container h1{
    font-size: 20px;

}
#cabecera {

    background: #09203a;
    color: #77b3f0;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
    font-weight: bold;
    margin:0;
    padding:0.5em;
}
#cabecera #tagline {
    padding:  0 0 0 1em ;
    font-weight: normal;
    font-size: 0.8em;
}
#footer {

  background:#661769;
  color:#f4a0c7;
  text-align: center;
  padding:0.5em;
}